## 판다스 연습 튜토리얼

### 01 Getting & Knowing Data

In [3]:
import pandas as pd

In [ ]:
# 롤 랭킹 데이터 
'https://www.kaggle.com/datasnaek/league-of-legends'
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

In [13]:
# Question 1
# 데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv',sep='\t')

# Question 2
# 데이터의 상위 5개 행을 출력하라
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [20]:
# Question 3
# 데이터의 행과 열의 갯수를 파악하라
df.shape
print('행',df.shape[0],'열',df.shape[1])


# Question 4
# 전체 컬럼을 출력하라
df.columns

행 51490 열 61

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [23]:
# Question 5
# 6번째 컬럼명을 출력하라
df.columns[5]

'firstBlood'

In [30]:
# Question 6
# 6번째 컬럼의 데이터 타입을 확인하라
df.info

<bound method DataFrame.info of            gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]>

In [22]:





# Question 7
# 데이터셋의 인덱스 구성은 어떤가

# Question 8
# 6번째 컬럼의 3번째 값은 무엇인가?

# Question 9
# 데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함

# Question 10
# 데이터 마지막 3개행을 출력하라

# Question 11
# 수치형 변수를 가진 컬럼을 출력하라

# Question 12
# 범주형 변수를 가진 컬럼을 출력하라

# Question 13
# 각 컬럼의 결측치 숫자를 파악하라

# Question 14
# 각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

# Question 15
# 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

# Question 16
# 거주인구 컬럼의 값들을 출력하라

# Question 17
# 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

# Question 18
# 읍면동명 컬럼의 유일값 갯수를 출력하라

# Question 19
# 읍면동명 컬럼의 유일값을 모두 출력하라

gameId             3314215542
creationTime    1503430065724
gameDuration             1993
seasonId                    9
winner                      1
                    ...
t2_ban1                    75
t2_ban2                    42
t2_ban3                    31
t2_ban4                    40
t2_ban5                   429
Name: 6, Length: 61, dtype: int64